<!DOCTYPE html>

<html>
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            <h1>brb gone to krogers</h1>
            <img src="http://www2.sacurrent.com/sb/64203/cuco_hebuddy.jpg" />
        #{/if}
        #{else}
            <h1>brb gone to krogers</h1>
            <p>
                ${result.message}
            </p>
        #{/else}
    </body>
</html>
